html{
    background-color: yellow;
}
body {
    font-family: sans-serif;
    margin: 20px;
}

.general {
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: rgb(0, 0, 124);
}

h2 {
    margin-top: 20px;
    color: rgb(119, 0, 0);
}

p {
    margin: 5px 0; 
    color: rgb(0, 94, 0);
}